<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="error-icon">
            <i class="fas fa-map-signs"></i>
        </div>
        <h1 class="error-title">404</h1>
        <p class="error-message">哎呀！您访问的页面似乎不存在。</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="/" class="btn btn-primary">返回首页</a>
            <a href="javascript:history.back()" class="btn btn-outline-secondary">返回上一页</a>
        </div>
    </div>
</div> 